<div class='col-md-10 col-md-offset-1 text-center'>
<h1>Listing of Reviews & Articles </h1>
</div>
<div class = 'col-md-10 col-md-offset-1 text-center'> 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
    <!-- <div class='row well'> -->
    <p class='lead'>
      <td><div class='col-md-6'><%= article.title %></td></div>
      <td><div class='col-md-6'><%= article.text %></td></div>
      </p>
  <!-- </div> -->
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%=link_to 'Destroy', article_path(article),
              method: :delete,
              data: {confirm: 'Are you sure?!'} %></td>
    </tr>

  <% end %>
<button type='button' class='btn btn-warning'><%= link_to 'New article', new_article_path %></button>

</table>
</div>
</div>