

<div class='col-md-10 col-md-offset-1 text-center'>
<h1>Sign Up for Scuba Central</h1>
</div>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
   
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
   
  <% end %>
  
 <div class='col-md-8 col-md-offset-2 text-center'> 
  <p class='lead'>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
 
  <p class='lead'>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  
  <p class='lead'>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
 
  <p><button type='button' class='btn btn-info btn-lg btn-warning'><%= link_to 'Create Account', new_user_path %></p></button>
<% end %>

</div>
 